body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.618;
}

#app {
  margin: 1em auto;
  width: 1000px;
}

.loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
}

.loading-container {
  margin: 5em 0 0;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

a {color: #43B029;}

ul#project_list {
  margin: 1em 0;
}

ul#project_list li {
  list-style: disc;
  margin-left: 1.25em;
}

#upload_form {
  border-left: 3px solid #777;
  display: none;
  margin: 1.618em 0;
  padding-left: 1em;
}

legend {
  font-size: 1.25em;
  margin: 0.5em 0;
}

input[type=submit] {
  background: #43B029;
  border-radius: 3px;
  color: white;
  padding: 0.35em 1.25em;
}
